<!DOCTYPE html>
<html lang="en-us" ng-app="ShoppingListApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Survata Shopping!</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-controller="ShoppingListCtrl">
    <div class="container">
        <h1>Survata shopping list</h1>

        <div class="panel panel-default">
            <div class="panel-body">

              <ul>
                <li dir-paginate="item in items | itemsPerPage: pageSize" current-page="currentPage">{{ item }}</li>
                
              </ul>
            </div>
        </div>

        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>


        Filter: <input type="text" ng-model="itemFilter" />
        <a href="#" ng-click="listAllItems()">refresh</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th ng-click="doSort('name')">Item</th>
                    <th ng-click="doSort('type')">Category</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in listItems | filter:itemFilter | orderBy:sortBy:reverse">
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td><button class="btn btn-xs btn-danger delete-btn" ng-click="deleteItem($index)"><i class="fa fa-trash"></i> Delete</button></td>
                </tr>

                <tr>
                    <form ng-submit="addItem()">
                        <td><input type="text" class="form-control" placeholder="New list item" ng-model="itemName" required></td>
                        <td><select ng-model="itemType" required>
                            <option value="Dairy">Dairy</option>
                            <option value="Meat">Meat</option>
                            <option value="Beverage">Beverage</option>
                            <option value="Other">Other</option>
                            </select>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-default">
                                <i class="fa fa-plus"></i> Add item
                            </button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="dirPagination.js"></script>
    <script src="app.js"></script>
</body>
</html>
